@use "mixins" as *;

@include media("desktop") {
    
}

@include media("tablet-large") {
    .main-dish-container {
        display: grid;
        grid-template-areas: 
        "one one"  
        "two three";
        gap: 5px;
        margin: 10px 0;
    }
    .main-dish {
        h2 {
            margin: 0;
        }
    }
    #main-dish-one {
        grid-area: one;
    }
    #main-dish-two {
        grid-area: two;
    }
    #main-dish-three {
        grid-area: three;
    }
    .read-more {
        margin-bottom: 15px;
    }
}

@include media("tablet-small") {
    .main-dish {
        img {
            object-fit: cover;
            height: clamp(240px, 68.3643px + 35.3160vw, 430px);
        }
    }
    .read-more {
        margin-bottom: 1rem;
        .posted-by {
            margin-bottom: 50px;
        }
        .read-more-btn {
            padding: 0.6rem;
        }
    }
}

