@use "./mixins" as *;

@include media("desktop") {
    .navbar {
        width: clamp(50rem, 19.2857rem + 61.4286vw, 93rem);
    }
    
    .main-content {
        display: grid;
        grid-template-columns: clamp(500px, 51.4286px + 59.8214vw, 1200px) clamp(240px, 225.7143px + 1.7857vw, 260px);
        justify-content: center;
        gap: 5px 15px;

        .main-dish-container {
            gap:  2px 7px;
            grid-auto-rows: min-content;
            height: fit-content;
        }

        .main-dish {
            height: fit-content;
            img {
                height: auto;
            }
            h2 {
                font-size: clamp(1rem, 0.4286rem + 1.1429vw, 1.8rem);
            }
        }

        .sidebar {
            grid-row-end: span 4;
            margin: 7px 0;
            h2 {
                font-size: clamp(1.3rem, 1.0857rem + 0.4286vw, 1.6rem);
            }

            .latest-recipes {
                .latest-recipes-items {
                    img {
                        height: 100%;
                    }

                    h3 {
                        font-size: clamp(0.7rem, 0.8364rem + 0.6818vw, 1.5rem);
                        margin: 7px;
                    }
                }
            }
        }

        .cuisines {
            .cuisine-list {
                li {
                    font-size: clamp(1rem, 0.7857rem + 0.4286vw, 1.3rem);
                }
            }
        }

        .read-more {
            padding: 1.5rem;
            h2 {
                font-size: clamp(1.5rem, 0.4286rem + 2.1429vw, 3rem);
            }
            p {
                font-size: clamp(1rem, 0.7857rem + 0.4286vw, 1.3rem);
            }
            .read-more-btn {
                font-size: clamp(1rem, 0.6429rem + 0.7143vw, 1.5rem);
            }
        }
    }
}

@include media("tablet-large") {
    .main-dish-container {
        display: grid;
        grid-template-areas:
            "one one"
            "two three";
        gap: 5px;
        margin: 10px 0;
    }

    .main-dish {
        margin: 0;

        h2 {
            bottom: 0;
        }
    }

    #main-dish-one {
        grid-area: one;
    }

    #main-dish-two {
        grid-area: two;
    }

    #main-dish-three {
        grid-area: three;
    }

    .read-more {
        margin-bottom: 15px;
        padding: 1rem;
        .posted-by {
            margin-bottom: 40px;
        }
    }
}

.cuisine-list {
    @include cuisine-list-style;
}

@include media("tablet-small") {
    .main-dish {
        img {
            object-fit: cover;
            height: clamp(240px, 68.3643px + 35.316vw, 430px);
        }
    }

    .read-more {
        margin-bottom: 1rem;

        .posted-by {
            margin-bottom: 35px;
        }

        .read-more-btn {
            padding: 0.6rem;
        }
    }

    .cuisine-list {
        @include cuisine-list-style;
    }
}