@use "typography" as *;
@use "variables" as *;
@use "mixins" as *;
.sidebar {
  padding: 1px;
}
// Target the section.latest-recipes and set it as a flex container
.latest-recipes {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  h2 {
    @include sidebar-h2-style;
  }

  .latest-recipes-items {
    display: flex;
    flex-direction: row;
    gap: 7px;
    padding: 10px;
    h3 {
      font-family: $default-font;
      font-size: clamp(0.5rem, 0.8364rem + 1.8182vw, 2rem);
      font-weight: 400;
    }

    img {
      border: 2px solid $darkblue;
      border-right-width: 1px;
      border-bottom-width: 1px;
    }

    &:nth-child(even) {
      background-color: $white;
    }
    &:nth-child(odd) {
      background-color: $lightgray;
    }
  }
}

.cuisines {
  margin-bottom: 10px;
  h2 {
    @include sidebar-h2-style;
  }
  .cuisine-list {
    flex-grow: 1; /* Allow the list to grow and fit available space */
    display: flex;
    flex-wrap: wrap; /* Items wrap to next row when needed */
    background-color: $white;
    list-style: none;
    padding: 11px 3px;
    line-height: 1.4rem;
    margin: 0;
    li {
      font-family: $default-font;
      font-size: clamp(0.8rem, 0.7364rem + 1.7182vw, 1.5rem);
      font-weight: 400;
      margin: 4px 8px; /* Adjust the margins as per your preference */
      white-space: nowrap; /* Prevent list items from breaking into multiple lines */
      min-width: 120px; /* Set a minimum width for each list item to prevent excessive wrapping */
    }
  }
}
