// Place your Sass imports here...
@import './nav';
@import './sidebar';
@import './footer';
@import './articles';
@import './typography';
@import './mediaqueries';

.main-content {
    max-width: 1268px;
    margin: auto;
}

body {
    margin-top: 0;
}